.App{
    width: 100vh;
    margin: 0 auto;
}

.board {
    display:flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.column {
    display:flex;
    flex-direction: column;
    width: 150px;
}
body {
    background-color: blue;
}
h1 {
    text-align: center;
}
h2 {
    text-transform: capitalize;
    text-align: center;
}